.general {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.card {
    background-color: rgb(8, 8, 68);
    text-align: center;
    color: white;
    border-radius: 3em;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cantidad{
    padding: 1em;
    width: 85%;
    border-radius: 0.7em;
    border: none;
}

#color {
    width: 8rem;
    height: 8rem;
    cursor: pointer; 
}

#show-color{
    
    border: solid 2px black;
    width: 2rem;
    height: 2rem; 
    border-radius: 2em;
}


.card button{
    margin: 1em;
    margin-bottom: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1em;
    border: none;
    background-color: rgba(58, 58, 250, 0.712);
    color: white;
    font-size: 1rem; 
}

.card button:hover {
    background-color: rgba(0, 0, 133, 0.712);
}

.card img {
    width: 60%;
    margin: auto;
    padding-top: 3em;
   
}

.variables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.variables ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.variables li{  
  list-style: none;  
}


@media (max-width: 600px){

    .general {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .variables ul li{
        display: flex;
        flex-direction: row;
        justify-content:left;
    }
    

}